<div class='container'>
  <h2 class="my-5">新規商品登録</h2>
  <%= form_with model: @item, url: admin_items_path, local: true, class: 'new_item' do |f| %>
    <table class="table">
      <tbody>
        <tr>
          <th><%= f.label :image, "商品画像" %></th>
          <td>
            <%= f.file_field :image, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <th><%= f.label :name, "商品名" %></th>
          <td><%= f.text_field :name, placeholder: "商品名", required: true, class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :introduction, "商品説明" %></th>
          <td><%= f.text_area :introduction, placeholder: "ここに説明文を記述します。", required: true, class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :genre_id, "ジャンル" %></th>
          <td><%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "--ジャンルを選択--" }, { required: true, class: "form-control" } %></td>
        </tr>
        <tr>
          <th><%= f.label :price, "商品価格" %></th>
          <td><%= f.text_field :price, placeholder: "1000", required: true, class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :is_active, "販売ステータス" %></th>
          <td>
            <%= f.radio_button :is_active, true, required: true %> <%= f.label :is_active_true, "販売中" %>
            <%= f.radio_button :is_active, false, required: true %> <%= f.label :is_active_false, "販売停止中" %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.submit "商品を登録", class: "btn btn-primary" %>
          </td>
        </tr>
      </tbody>
    </table>

  <% end %>
</div>