<div class="container">
  <div class="row m-3">
    <!-- Genre Search Column -->
    <div class="col-md-3 mt-2">
      <table class="table genre-search-table">
        <thead class="bg-light">
          <tr>
            <th style="font-weight: bold; padding-top: 10px;">ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% Genre.all.each do |genre| %>
            <tr>
              <td style="font-weight: normal; border: none;">
                <%= link_to genre.name, items_path(genre_id: genre.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- Product Listing Column -->
    <div class="col-md-9 mt-2">
      <% genre = Genre.find_by(id: params[:genre_id]) %>
      <% if genre %>
        <h3 style="padding-top: 8px;"><%= genre.name %>一覧 <span style="font-size: 0.7em;">(全 <%= genre.items.count %> 件)</span></h3>
        <% items = genre.items.order(created_at: :desc).page(params[:page]).per(8) %>
      <% else %>
        <h3 style="padding-top: 8px;">商品一覧 <span style="font-size: 0.7em;">(全 <%= Item.count %> 件)</span></h3>
        <% items = Item.order(created_at: :desc).page(params[:page]).per(8) %>
      <% end %>
      <div class="row">
        <% items.each do |item| %>
          <div class="col-md-3">
            <div class="item" style="margin: 15px; padding: 10px; border: none; border-radius: 5px; width: 180px;">
              <%= link_to item_path(item) do %>
                <%= image_tag item.image, width: "150", height: "150", style: "display: block; margin-bottom: 10px;" %>
                <h6 style="font-size: 15px; font-weight: normal; margin-top: 10px; margin-bottom: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                  <%= item.name.truncate(15, omission: '...') %>
                </h6>
              <% end %>
              <p style="font-size: 17px; color: gray; margin: 0;">¥
              <%= number_with_delimiter(item.price) %></p>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Pagination -->
      <div class="d-flex justify-content-center">
        <%= paginate items, class: 'pagination' %>
      </div>
    </div>
  </div>
</div>
